## Create a tuple and print it...

In [1]:
my_tuple = ('Tridip','Sayan','Somntah','Gourav')
print(my_tuple)

('Tridip', 'Sayan', 'Somntah', 'Gourav')

## Tuple with different data types...

In [2]:
t1 = ('String',True,False,10,1.2323)
print(t1)

('String', True, False, 10, 1.2323)

## Access tuple element .....

In [4]:
t1 = ('mango','banana','litchi','apple','orrange')
print("if i want to print apple then : ",t1[-2])
print("if i want to print mango then : ",t1[0])
print("if i want to print litichi then : ",t1[-3])

if i want to print apple then :  apple
if i want to print mango then :  mango
if i want to print litichi then :  litchi

## print tuple length..

In [5]:
t1 = ('mango','banana','litchi','apple','orrange')
print('Length of this tuple is : ',len(t1))

Length of this tuple is :  5

## Iterate through tuple...

In [13]:
t1 = ('mango','banana','litchi','apple','orrange')
for i in t1:
    print(f"Elements  is : {i}")

Elements  is : mango
Elements  is : banana
Elements  is : litchi
Elements  is : apple
Elements  is : orrange

## Check element exist in tuple...

In [26]:
t1 = ('mango','banana','litchi','apple','orrange')
element = 'banana'
if element in t1:
    print('exist in tuple.')      
else:
    print("not exist")

exist in tuple.

## tuple concatenation...

In [27]:
t1 = ('mango','banana','litchi')
t2 = ('apple','orrange')
t3 = t1 + t2
print(t3)

('mango', 'banana', 'litchi', 'apple', 'orrange')

## Tuple Repetation..

In [36]:
t1 = ('mango','banana','litchi','apple','orrange')
print(t1*2)

('mango', 'banana', 'litchi', 'apple', 'orrange', 'mango', 'banana', 'litchi', 'apple', 'orrange')

In [29]:
t1 = ('mango','banana','litchi','apple','orrange')
print(t1 * 2)

('mango', 'banana', 'litchi', 'apple', 'orrange', 'mango', 'banana', 'litchi', 'apple', 'orrange')

## Find Maximum and Minimum in Tuple

In [31]:
t1 = (1,2,3,4,5,6,7,8,9)
print('Max element : ',max(t1))
print('Min element : ',min(t1))

Max element :  9
Min element :  1

## Find Index of an Element

In [32]:
t1 = (1,2,3,4,5,6,7,8,9)
print(t1.index(9))

8

## Count Occurrence of an Element

In [34]:
t1 = (1,2,2,2,3,4,5,6,7,8)
print('2 : ',t1.count(2))

2 :  3

## tuple slicing...

In [40]:
t1 = ('mango','banana','litchi','apple','orrange')
print("print first 3 element : ",t1[0:3])
print("Last element : ",t1[-1])
print("Print only apple and litichi : ",t1[-3:-1])
print("Reverse the tuple : ",t1[::-1])

print first 3 element :  ('mango', 'banana', 'litchi')
Last element :  orrange
Print only apple and litichi :  ('litchi', 'apple')
Reverse the tuple :  ('orrange', 'apple', 'litchi', 'banana', 'mango')

## Convert list to tuple ...

In [41]:
my_list = [100,200,300,400,500]
# converting this to a tuple 
t1 = tuple(my_list)
print(t1,type(t1))

(100, 200, 300, 400, 500) <class 'tuple'>

## Update Tuple (Using List Conversion)

In [42]:
t1 = ('mango','banana','litchi','apple','orrange')
l1 = list(t1)
l1[-1] = 'Water Melon'
t2 = tuple(l1)
print(t2)

('mango', 'banana', 'litchi', 'apple', 'Water Melon')

## Nested Tuple...

In [44]:
my_tuple = (1,2,3,(4,5,6),(7,8,(9,10)))
print(my_tuple,type(my_tuple))

(1, 2, 3, (4, 5, 6), (7, 8, (9, 10))) <class 'tuple'>

## Unpacking a tuple ...

In [46]:
t1 = ('mango','banana','litchi','apple','orrange')
a,b,c,d,e = t1
print(a)
print(b)
print(e)

mango
banana
orrange

## Find sum of tuple...

In [51]:
t1 = (10,20,30,40,50)

#using loop manually.....
sum = 0
for i in t1:
    sum += i
print('sum : ',sum)

sum :  150

## remove duplicates element in tuple.....

In [52]:
t2 = (1,2,1,3,2,3,2,4,2,4,2)
t = set(t2)
u = tuple(t)
print("Unique tuple is : ",u)
print(type(u))

Unique tuple is :  (1, 2, 3, 4)
<class 'tuple'>

## list comprehension logic